{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h2>Your Beer Cart</h2>
            </div>
        </div>
        {% if cart_items %}
        <div class="row d-none d-md-block">´
            <div class="col">
                <div class="row mb-0">
                    <div class="col-md-6">
                        <p class="text-muted mb-0">Product Info:</p>
                    </div>
                    <div class="col-md-2">
                        <p class="text-muted mb-0">Price:</p>
                    </div>
                    <div class="col-md-2">
        
                    </div>
                    <div class="col-md-2">
                        <p class="text-muted mb-0">Subtotal:</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-0">
        <div class="row d-none d-md-block">
            <div class="col">
                {% for item in cart_items %}
                <div class="row">
                    <div class="col-md-3 col-lg-2">
                        <img class="img-fluid cart-image rounded d-inline" src="{{ item.product.image.url }}">
                    </div>
                    <div class="col-md-3 col-lg-4">
                        <h5>{{ item.product.name}}</h5>
                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        <form class="form update-form" action="{% url 'adjust_cart' item.item_id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group">
                                    <p class="mt-1"><strong>Quantity:</strong></p>
                                    <div class="input-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm" data-item_id="{{ item.item_id }}"
                                                    id="decrement-qty_{{ item.item_id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input text-center" type="number" 
                                                name="quantity" value="{{ item.quantity }}" min="1"
                                                max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm" data-item_id="{{ item.item_id }}"
                                                    id="increment-qty_{{ item.item_id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <a class="btn btn-black btn-sm update-link"><small>Update</small></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2">
                        <p class="my-0"><strong>${{ item.product.price }}</strong></p>
                    </div>
                    <div class="col-md-2">
                        <a class="remove-item btn btn-sm btn-danger" id="remove_{{ item.item_id }}"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="col-md-2">
                        <p class="my-0"><strong>${{ item.product_subtotal }}</strong></p>
                    </div>
                </div>
                <hr>
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-end">
                            <div class="col-4">
                                <h6>Cart Total:</h6>
                                {% if delivery > 0 %}
                                <h6>Delivery (15%):</h6>
                                {% else %}
                                <h6><strike>Delivery (15%)</strike>:</h6>
                                {% endif %}
                                <hr class="w-100">
                                <h4>Grand Total:</h4>
                            </div>
                            <div class="col-2">
                                <h6><strong>${{ total|floatformat:2 }}</strong></h6>
                                {% if delivery > 0 %}
                                <h6><strong>${{ delivery|floatformat:2 }}</strong></h6>
                                {% else %}
                                <h6><strong>${{ delivery|floatformat:2 }}</strong></h6>
                                {% endif %}
                                <hr class="w-100">
                                <h4><strong>${{ grand_total|floatformat:2 }}</strong></h4>
                            </div>
                        </div>
                        {% if delivery > 0 %}
                        <div class="row justify-content-end">
                            <div class="col-6 ml-2 mx-2">
                                <div class="alert alert-warning free-delivery-warning text-center" role="alert">
                                    Spend $50 or more to receive free delivery!
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row justify-content-end mr-2 mb-3">
                            <a href="{% url 'products' %}" class="btn btn-outline-black mt-3 rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-black mt-3 rounded-0 btn-lg">
                                <span class="text-uppercase">Go to Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                                <span class="icon">
                                    <i class="fab fa-cc-stripe"></i>
                                </span>
                                <span class="icon">
                                    <i class="far fa-credit-card"></i>
                                </span>
                                <span class="icon">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-block d-md-none">
            <div class="row">
                <div class="col text-right mr-2">
                    <h6>Cart Total: ${{ total|floatformat:2 }}</h6>
                    {% if delivery > 0 %}
                    <h6>Delivery (15%): ${{ delivery|floatformat:2 }}</h6>
                    {% else %}
                    <h6><strike>Delivery(10%)</strike>: ${{ delivery|floatformat:2 }}</h6>
                    {% endif %}
                    <h5>Grand Total: <strong>{{ grand_total|floatformat:2 }}</strong></h5>
                </div>
            </div>
            <div class="row">
                <div class="col text-right mr-2">
                    <a href="" class="btn btn-black mt-3 rounded-0">
                        <span class="text-uppercase">Go to Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                        <span class="icon">
                            <i class="fab fa-cc-stripe"></i>
                        </span>
                        <span class="icon">
                            <i class="far fa-credit-card"></i>
                        </span>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </a>
                    <a href="{% url 'products' %}" class="btn btn-outline-black mt-1 rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </div>
            </div>
            {% if delivery > 0 %}
            <div class="row justify-content-center">
                <div class="col mx-1 mb-0">
                    <div class="alert alert-warning free-delivery-warning text-center" role="alert">
                        <span class="small">Spend $50 or more to receive free delivery!</span>
                    </div>
                </div>
            </div>
            {% endif %}
            <hr>
            <p class="text-muted mb-3 text-center">Order Summary:</p>
            {% for item in cart_items %}
            <div class="row">
                <div class="col-6 text-center">
                    <img class="img-fluid cart-image rounded d-inline" src="{{ item.product.image.url }}">
                </div>
                <div class="col-6">
                    <h6>{{ item.product.name}}</h6>
                    <p class="my-1">QTY: {{ item.quantity }}</p>
                    <p class="my-1 text-muted small">Price: ${{ item.product.price }}</p>
                    <hr class="w-75 my-1 ml-0">
                    <p class="my-0"><strong>Subtotal: ${{ item.product_subtotal }}</strong></p>
                </div>
            
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="container">
        <p class="lead mb-5">There's nothing in your cart yet.</p>
        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
{% endif %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).closest('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}