{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-12 mb-3 ">
            <h2 class="headings">Submit Order Issue</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <form method="POST" action="{% url 'order_issue' order.order_number %}">
                {% csrf_token %}
                <select class="form-select rounded body-text p-2 w-100 my-3" name="order_issue_select" id="order_issue_select"
                    aria-label="select order issue" required>
                    <option selected disabled>What is your issue?</option>
                    <option value="Order has not arrived">Order has not arrived</option>
                    <option value="I recieved the wrong items">I recieved the wrong items</option>
                    <option value="I recieved the wrong quantity of items">I recieved the wrong quantity of items</option>
                    <option value="Item/Items were damaged">Item/Items were damaged</option>
                    <option value="Other">Other</option>
                </select>
                <textarea class="form-control my-3" placeholder="Write descrption here (optional)...." name="description"
                    rows="3"></textarea>
                <input class="form-control my-3" type="email" id="email" name="email" value="{{ user.email }}" required>
                <button type="submit" class="btn btn-brand-blue rounded-lg text-uppercase">Submit</button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}