{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4 mb-3">
                <h2 class="headings">My Profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-3 fieldset-border">
                        <legend class="fieldset-label small text-black px-2 w-auto">Delivery Information</legend>
                    {{ form|crispy }}
                    <button class="btn btn-brand-blue text-uppercase float-right mb-3">Update Information</button>
                </fieldset>
                </form>
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}