{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4 mb-3">
                <h2 class="headings">Checkout</h2>
            </div>
        </div>
        <div class="row">
            <!-- Checkout Form -->
            <div class="col-12 col-md-7">
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 pb-3 mb-3 fieldset-border">
                        <legend class="fieldset-label headings px-2 w-auto">Name &amp; Email</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 pb-3 mb-3 fieldset-border">
                        <legend class="fieldset-label headings px-2 w-auto">Delivery</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        <div class="form-check form-check-inline float-right mr-0">
                            {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my
                                profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                                checked>
                            {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Register</a> or
                                <a class="text-info" href="{% url 'account_login' %}">Sign In</a> to save this information
                            </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="rounded px-3 fieldset-border">
                        <legend class="fieldset-label headings px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
    
                    <div class="submit-button mt-4">
                        <button id="submit-button" class="btn btn-brand-blue btn-lg w-100 text-uppercase">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                            <span class="icon">
                                <i class="fab fa-cc-stripe"></i>
                            </span>
                        </button>
                        <p class="small text-danger mt-1 mb-3">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-5">
                <!-- Order Summary -->
                <fieldset class="rounded px-3 mb-3 fieldset-border">
                    <legend class="fieldset-label headings px-2 w-auto">Order Summary</legend>
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead class="headings">
                                <tr>
                                    <th>Product</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                    <tr>
                                        <td>
                                            {{ item.product.name }}
                                        </td>
                                        <td>{{ item.quantity }}</td>
                                        <td>
                                            ${{ item.product.price }}
                                        </td>
                                        <td>${{ item.product_subtotal }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3">
                                        <hr>
                                        <h6>Cart Total:</h6>
                                        {% if delivery > 0 %}
                                        <h6>Delivery (15%):</h6>
                                        {% else %}
                                        <h6><strike>Delivery (15%)</strike>:</h6>
                                        {% endif %}
                                        <h5 class="mt-2 headings"><strong>Grand Total:</strong></h5>
                                    </td>
                                    <td colspan="1">
                                        <hr class="w-75 float-left">
                                        <h6>${{ total|floatformat:2 }}</h6>
                                        {% if delivery > 0 %}
                                        <h6>${{ delivery|floatformat:2 }}</h6>
                                        {% else %}
                                        <h6>${{ delivery|floatformat:2 }}</h6>
                                        {% endif %}
                                        <h5 class="mt-2 headings">${{ grand_total|floatformat:2 }}</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="{% url 'view_cart' %}" class="btn headings return-links rounded-0 btn-lg float-right">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Cart</span>
                    </a> 
                </fieldset>   
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-wine-bottle fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}