/* ................................................... Profile Form */


#profile-update-form .form-control {
    color: black;
    border: none;
    border-radius: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #cfd7df;
}

#profile-update-form .form-control:focus {
    box-shadow: none !important;
    border-bottom: solid 1px #fcb500 !important
}

.profile-form-input {
    box-sizing: border-box;
    height: 43px;
    padding: 10px 12px;
    border: 1px solid #e6ebf1;
    border-radius: 0px;
    background-color: white;
    transition: box-shadow 150ms ease;
}

profile-form-input:focus {
    box-shadow: none !important;
    border-bottom: solid 1px #fcb500 !important
}

.fieldset-label {
    font-size: 20px;
}

.profile-form-input::placeholder {
    color: #aab7c4;
}

.profile-form-input:focus,
.profile-form-input:active {
  border-bottom: solid 1px rgb(97, 97, 97)
}

.form-control:focus {
    box-shadow: none !important;
    border-bottom: solid 1px rgb(14, 14, 14) !important
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

/* ................................................... Order History */

.order-history {
    max-height: 540px; /* height of profile form + submit button */
    overflow-y: auto;
}

.order-container {
    border: 1px solid #133965;
}

.btn-order-panel {
    background-color: #133965;
    color: white;
    font-size: 12px
}

.btn-details {
    background-color: #133965;
    color: white;
    font-size: 12px 
}

.btn-details:hover,
.btn-details:active {
    background-color: #133965;
    color: white;
}

.btn-issue {
    background-color: #fcb500;
    color: #133965;
    font-size: 12px 
}

#order_issue_select {
    font-size: 16px;
}

/* make font-size smaller for tablet screens for Order Details collapsible section in Order History*/

@media (max-width: 768px) {

    .collapse {
        font-size: 0.75rem
    }

}