{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block core_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <script src="https://kit.fontawesome.com/0b3df6599d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
      integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

  <title>GlobAle Beer Store {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark p-3">
        <a class="navbar-brand ml-lg-3" href="{% url 'home' %}">Glob<span id="ale-brand">Ale</span></a>

        <!-- Shopping Cart Appears next to Navbar toggle on sm-md screens -->
      
        <span class="nav-item d-inline d-lg-none ml-auto">
          <a class="nav-link text-white {% if product_count != 0 %}text-warning font-weight-bold{% endif %}" 
              href="{% url 'view_cart' %}" aria-label="shopping cart">
            <i class="fas fa-shopping-cart nav-icons-lg">
            </i>{% if product_count != 0 %}  
            <small class="cart-number">{{ product_count }}</small>{% endif %}
          </a>
        </span>

        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" 
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- All Beers link -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-lg-3 text-dark">
            <li class="nav-item mx-lg-2">
              <a class="nav-link" href="{% url 'products' %}">All Beers</a>
            </li>
            <!-- Category Dropdown Menu -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-toggle="dropdown" 
                  aria-expanded="false" aria-label="categories menu">
                Categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategories">
                {% for category in categories %}
                  <li><a class="dropdown-item" href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <!-- Country Dropdown Menu -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCountries" role="button" data-toggle="dropdown" 
                  aria-expanded="false" aria-label="countries menu">
                Countries
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownCountries">
                {% for country in countries %}
                  <li><a class="dropdown-item" href="{% url 'products' %}?country={{ country.name }}">{{ country.friendly_name }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <!-- Profile Dropdown Menu -->
          <ul class="navbar-nav mt-2 mt-lg-0 mr-lg-4 text-dark">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdownAccount" role="button" data-toggle="dropdown" 
                  aria-expanded="false" aria-label="profile menu">
                <i class="fas fa-user-circle nav-icons-lg"></i><span class="d-inline d-lg-none"> Profile</span>
              </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                  {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                      <li>
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                      </li>
                      {% endif %}
                      <li>
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                      </li>
                      <li>
                        <a href="{% url 'view_orders' %}" class="dropdown-item">Orders</a>
                      </li>
                      <li>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a>
                      </li>
                  {% else %}
                      <li>
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                      </li>
                      <li>
                      <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
                      </li>
                  {% endif %}
                </ul>
            </li>
            <!-- Shopping Cart for Large Screens -->
            <li class="nav-item mx-2 d-none d-lg-inline">
              <a class="nav-link {% if product_count != 0 %}text-warning font-weight-bold{% endif %}" 
                  href="{% url 'view_cart' %}" aria-label="shopping cart">
                <i class="fas fa-shopping-cart nav-icons-lg"></i>
                {% if product_count != 0 %}
                <small class="cart-number">{{ product_count }}</small>
                {% endif %}
              </a>
            </li>
          </ul>
          
          <!-- Search Bar -->
          <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
              <input class="form-control" type="text" name="q" placeholder="Search">
              <div class="input-group-append">
                <button class="form-control btn border search-btn" aria-label="search" type="submit">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </nav>
      
    </header>

    {% if messages %}
        <div class="message-container">
          {% for message in messages %}
              {% with message.level as level %}
                  {% if level == 40 %}
                      {% include 'includes/toasts/toast_error.html' %}
                  {% elif level == 30 %}
                      {% include 'includes/toasts/toast_warning.html' %}
                  {% elif level == 25 %}
                      {% include 'includes/toasts/toast_success.html' %}
                  {% else %}
                      {% include 'includes/toasts/toast_info.html' %}
                  {% endif %}
              {% endwith %}
          {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}
    
  </body>
</html>