StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #e6ebf1;
  background-color: white;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 1px  #a6a8ac;
  border: none
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    font-size: 20px;
}

#payment-form .form-control,
#card-element {
    color: black;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #cfd7df;
}