StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #e6ebf1;
  border-radius: 0px;
  background-color: white;
  transition: box-shadow 150ms ease;
}

.form-control:focus {
  box-shadow: none !important;
  border-bottom: solid 1px rgb(235, 31, 31) !important
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  border-bottom: solid 1px rgb(97, 97, 97)
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    font-size: 20px;
}

#payment-form .form-control,
#card-element {
    color: black;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #cfd7df;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.37);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}