{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-4 mb-4">
                {% if current_categories %}
                    {% for category in current_categories %}
                    <h1 class="headings display-4 font-weight-bold">{{ category.friendly_name }}</h1>
                    {% endfor %}
                {% elif current_countries %}
                    {% for country in current_countries %}
                    <h1 class="headings display-4 font-weight-bold">{{ country.friendly_name }}</h1>
                    {% endfor %}
                {% elif search_term %}
                    <h2 class="headings font-weight-bold">{{ products|length }} results for "{{ search_term|title }}"</h2>
                {% else %}
                    <h1 class="headings display-4 font-weight-bold">All Beers</h1>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-sm-6 col-lg-3 mb-3">
                    <div class="card border">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}" class="text-center">
                            <img class="card-img-top mt-3 img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}" class="text-center">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0 mb-0">
                            <h3 class="headings mb-1">{{ product.name|title }}</h3>
                            <a class="mb-0 text-muted body-text" href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a> <br>
                            <a class="mb-1 text-muted body-text" href="{% url 'products' %}?country={{ product.country.name }}"><i class="fas fa-globe-europe"></i> {{ product.country.friendly_name }}</a>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-right mb-">
                            <div class="row">
                                <div class="col">
                                    <h3 class="headings mb-0 text-left text-warning font-weight-bold">${{ product.price }}</h3>
                                </div>
                                {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}