{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>All Beers</h2>
                <hr class="w-100 mb-1">
            </div>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-sm-6 col-lg-3 mb-3">
                    <div class="card">
                        {% if product.image %}
                        <a href="" class="text-center">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0 mb-0">
                            <p class="mb-0">{{ product.name }}</p>
                            <p class="mb-0 text-muted">{{ product.category.friendly_name }}</p>
                            <p class="mb-0 text-muted">{{ product.country.friendly_name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-right mb-">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                
                                </div>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}